body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: aqua;
}
h1{
    border-radius: 10px;
    border: solid 3px white;
    background-color: white;
    padding:10px ;
    text-align: center;
    font-weight: bolder;
    color: darkcyan;
}
.container{
    margin : 50px auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    background-color: darkcyan;
    padding: 30px ;
}
button:hover{
    background-color: aqua;
}
p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
button{
    transition: 0.2s;
}
button:active{
    transform: scale(0.95);
}